.class-navbar-top {
    font-family: 'Poppins';
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
    background-color: #FFF5F1;
    box-shadow: 0 3px 4px rgba(89, 89, 89, 0.244);
}

.class-navbar-top .bi-arrow-left-circle{
    font-size: 20px;
    font-weight: bolder;
    color: #B84C20;
    border: none;
    margin-inline: 10px;
    padding-left: 20px;
}

.class-navbar-top .bi-arrow-left-circle:hover{
    color: #e4bcac;
}

.class-navbar-top p{
    margin: auto 0;
    font-size: 17px;
    color: #B84C20;
}

.navbar-center{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: row;
    padding-left: 20px;
    position: absolute;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
}

.navbar-center #tab .nav-item {
    margin: 0 20px;
}

.navbar-center #tab .nav-item .nav-link{
    color: #b84b20a8;
    font-size: 15px;
}

.class-content{
    padding: 50px;
    width: 70%;
    font-family: 'Poppins';
}

.class-content #tab .nav-item .nav-link{
    color: #0f0a08a8;
    font-size: 15px;
    border: none;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.class-content #tab .nav-item .nav-link.active {
    background-color: #FFF5F1 !important;
    color: #B84C20 !important;
    font-weight: bold !important;
    border: none !important;
}