body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .landing-page {
    overflow: hidden;
  }

  .header-orange-border {
    background: #EB5A2B;
    clip-path: polygon(0 0, 100% 0, 100% 83%, 0 100%);
}

  .header-section {
    font-family: 'Poppins', sans-serif;
    background: #2C292A;
    color: white;
    padding: 25px 50px 90px 50px;
    text-align: left;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 97%);
    display: flex;
    justify-content: flex-start;
    overflow: visible;
    display: flex;
}

.header-section-text {
  width: 55%;
  padding-left: 100px;
}

.header-section-title {
  font-size: 50px;
  font-weight: 700;
}

.button-link {
  display: inline-block;
  background-color: #EB5A2B;
  color: white;
  margin-left: 0px;
  padding: 15.5px 80px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.button-link:hover {
  background-color: #d45a1f;
}

.computer-image {
  background-image: url('/C:\Users\pc\OneDrive\Documents\ReactProjects\HANORI\src\assets\HNR_LND_IMG.png'); /* Use a relative path or absolute URL */
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  width: 100%; 
  height: 400px; 
}


.features-section {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  padding: 50px;
  text-align: center;
}

.about-section {
    font-family: 'Poppins', sans-serif;
    background: #2C292A;
    color: white;
    padding-top: 150px;
    padding-bottom: 50px;
    position: relative;
    clip-path: polygon(0 2%, 100% 17%, 100% 100%, 0 100%); 
}

.about-orange-border {
    background: #EB5A2B;
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
}

.footer-section {
  font-family: 'Poppins', sans-serif;
  background: #2C292A;
  padding: 30px;
  text-align: center;
  color: #F6F6E9;
}