@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
  }
  
  .landing-page {
    overflow: hidden;
  }

  .header-orange-border {
    background: #EB5A2B;
    clip-path: polygon(0 0, 100% 0, 100% 83%, 0 100%);
}

  .header-section {
    font-family: 'Poppins', sans-serif;
    background: #2C292A;
    color: white;
    padding: 50px;
    text-align: center;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 97%);
}

.features-section {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  padding: 50px;
  text-align: center;
}

.about-section {
    font-family: 'Poppins', sans-serif;
    background: #2C292A;
    color: white;
    padding-top: 150px;
    padding-bottom: 50px;
    position: relative;
    clip-path: polygon(0 2%, 100% 17%, 100% 100%, 0 100%); 
}

.about-orange-border {
    background: #EB5A2B;
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
}

.footer-section {
  font-family: 'Poppins', sans-serif;
  background: #2C292A;
  padding: 30px;
  text-align: center;
  color: #F6F6E9;
}