.profile{
    padding: 20px;
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.navbar-profile {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    background-color: #fde7de;
    box-shadow: 0 3px 4px rgba(89, 89, 89, 0.244);
}

.navbar-profile .toggle-btn i{
    font-size: 20px;
    font-weight: bolder;
    color: #B84C20;
    border: none;
    margin-inline: 10px;
}

.navbar-profile .toggle-btn{
    font-size: 17px;
    color: #B84C20;
}

.navbar-profile .toggle-btn:hover{
    color: #B84C20;
}

.dashboard-navbar {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 15px;
    margin-right: 10px;
}

.ping {
    color: #B84C20;
    font-size: smaller;
}

.dashboard-navbar .bi{
    color: #B84C20;
}

.student-badge {
    background-color: #84C776;
    color: #FFF5F1;
    padding: 7px 15px;
    border-radius: 20px;
    font-size: 14px;
}

.dashboard-navbar .dropdown-toggle{
    border: none;
    font-size: 1px;
}

.profile-dropdown {
    display: flex;
    align-items: center;
    border: none;
}

.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit:fill;
}

.dashboard-navbar .dropdown-item {
    color: #C4907B;
    font-size: smaller;
}
  
.dashboard-navbar .dropdown-item:hover {
    background-color: #F5DAD0;
    color: #B84C20;
    border-left: 5px solid #B84C20;
}

.dashboard-navbar .dropdown-menu {
    background-color: #FFF5F1;
    width: 180px;
}


.cover-container{
    height: 300px;
    background-image: url('/src/assets/univ.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 20px;
    margin-top: 60px;
    box-sizing: border-box;
    background-color: rgba(67, 67, 67, 0.5);
    background-blend-mode: multiply;
}

.cover-container .btn{
    font-weight: bold;
    background-color: #F6F6E9;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    border-radius: 20px;
    padding-left: 20px;
}

.cover-container .btn:hover{
    background-color: #c8c8b7;
    transform: translateY(-2px);
}

.cover-container i{
    padding-left: 5px;
}

.profile-picture-container {
    background-color: rgb(45, 45, 45);
    background-image: url('/src/assets/angelica.png');
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-top: -150px;
    overflow: hidden;
}

.info-container{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding-bottom: 40px;
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-container .name{
    font-size: xx-large;
    font-weight: bold;
    color: #2C292A;
}

.info-container .student-no{
    font-size: medium;
    margin-top: -20px;
    padding-bottom: 20px;
    color: #7e7e7e;
}

.details{
    margin-bottom: -20px;
}

.details p{
    font-size: medium;
    margin-top: -15px;
    color: #454445;
}

.performance-container{
    background-color: #fffef0;
    border-radius: 10px;
    display: block;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.performance-content .title{
    font-size: 30px;
    font-weight: bolder;
    padding: 30px;
    color: #2C292A;
}

.border{
    display: flex;
    align-self: center;
    justify-self: center;
    width: 94%;
    margin-top: -40px;
    margin-bottom: 30px;
}

.graph{
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.linear img{
    width: 100%;
    height: auto;
}

.bar img{
    width: 70%;
    height: auto;
    display: flex;
    margin: 0 auto;
}

.analysis h4{
    text-align: center;
    padding-top: 40px;
    font-weight: bold;
}

.analysis h6{
    padding-left: 50px;
    padding-top: 30px;
    font-weight: bold;
}

.analysis p{
    padding-inline: 50px;
    font-size: 15px;
    text-align: justify;
}

.history-content .title{
    font-size: 30px;
    font-weight: bolder;
    padding: 30px;
    color: #2C292A;
}
